<div class="container-tarefa">
  <div class="tarefa-cabecalho">
    <form [formGroup]="formTarefaFinalizada">
      <input type="checkbox" formControlName="finalizada" name="finalizada" (change)="onSubmit()">
    </form>
    <p class="tarefa-titulo"> {{tarefa.titulo}}</p>
  </div>
  <div (click)="handleAbrirModal()">
    <p class="tarefa-data"> <i-bs name="calendar-event" width="75" height="75">
      </i-bs> {{tarefa.data}}</p>
    <p class="tarefa-horario" *ngIf="tarefa.horario != ''"><i-bs name="clock" width="75" height="75">
      </i-bs> {{tarefa.horario}}</p>
  </div>
</div>